@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,600;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.contenedor{
    width: 100vw;
    overflow: hidden;
    height: 80vh;
}

button{
    background-color: #8DCFA3;
    border: none;
    padding: 15px 35px;
    font-size: 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}


/* ------------------ DIV1 ------------------- */

header p{
    text-align: right;
    cursor: pointer;}

    a{
        text-decoration: none;
        color: black;
    }

.title{
    height: 60%;
    width: 15vw;
    z-index: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title p{
    font-size: 1rem;
}

.title button, .title p{
    width: 15vw;
    margin-left: 70px;
}

.title h1{
    margin: 40px 0 40px 70px;
    width: 30vw;
    font-size: 3rem;
}

.div1{
    display: flex;
    flex-direction: row;
}

.foto1{
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.foto1 img{
    filter: brightness(0.5);
}

.white{
    background-color: white;
    width: 20vw;
    height: 80vh;
    position: absolute;
}


/* ------------------ DIV2 ------------------- */

.div2{
    background-color: #46855b49;
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.div2 .text{
    width: 30vw;
    height: 50%;
}

.div2 p{
    margin-left: 20px;
}

.div2 h2, .div3 h2, .div4 h2, .div5 h2, .div6 h2,.div7 h2{
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 20px;
}

.reasons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    height: 40vh;
    margin-left: 10vw;
    margin-top: 4vw;
}

.reason1, .reason2{
    background-color: #496b54e0;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 20vw;
    border-radius: 20px;
    color: white;
}

.reason1 h1, .reason2 h1{
    font-size: 5rem;
    color: #e0f2e5;
    margin-left: 40px;
    margin-top: 0;
}

.reason1 p, .reason2 p{
    margin-left: 30px;
    height: 30%;
    font-size: 20px;
}


/* ------------------ DIV3 ------------------- */


.div3{
    height: 68vh;
}

.team{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.member{
    width: 25%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.member img{
    border-radius: 50px;
    height:5rem;
    width: 5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.name{
    font-weight: 600;
    margin-bottom: 20px;
}

.descrip{
    font-weight: 200;
    font-size: 0.8rem;
}


/* ------------------ DIV4 ------------------- */

.div4{
    background-color: #496b548f;
    display: flex;
    flex-direction: column;
}


input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .containerGalery {
    width: 100%;
    max-width: 40vw;
    max-height: 50vh;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 40px;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
  }


  .div4 p{
      text-align: center;
      margin-top: -30px;
      font-size: 0.8rem;
  }


  /* ------------------ DIV5 ------------------- */


  .div5{
      display: flex;
      flex-direction: column;
      /* height: 60vh; */
      background-color: #2a3d30e8;
      color: white;
      padding-bottom: 2rem;
  }

  .div5 img{
      width: 60vw;
      height: 55vh;
      align-self: center;
  }

  /* ------------ DIV6 -------- */

  .div6{
      height: 70vh;
  }

form{
    display: grid;
    grid-template-areas: 
    "name apellidos telefono"
    "email email asunto"
    "mensaje mensaje mensaje";
    width: 70vw;
    margin-left: 50px;
    height: 50vh;
}

#name{
    grid-area: name;
}
#apellidos{
    grid-area: apellidos;
}
#telefono{
    grid-area: telefono;
}
#email{
    grid-area: email;
}
#asunto{
    grid-area: asunto;
}

form button{
    width: 50%;
    height: 80%;
    margin-left: 20px;
}

form input, form select, #mensaje{
    height: 1.8rem;
    margin: 10px 20px;
    background-color: rgba(189, 189, 189, 0.623);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

#mensaje{
    grid-area: mensaje;
    height: 4rem;
    padding-top: 20px;
}


/* --------------- FOOTER -------------- */

footer{
    background-color: #2a3d30e8;
    color: white;
    display: flex;
    flex-direction: row;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-around;
}

footer p{
    font-size: 0.7rem;
}

/* --------------- DIV7 ---------- */
.iconos{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10vw;
}

.div7{
    height: 98vh;
}

.icon{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #496b545b;
    padding: 30px;
    text-align: inherit;
    border-radius: 20px;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

.icon img, .icon h1{
    align-self: center;
}

.icon img{
    height: 100%;
    width: 3vw
}

.icon h1{
    font-size: 1rem;
}

.icon h4, .div2 p{
    font-size: 0.8rem;
}

.icon p{
    font-size: 0.7rem;
}

.textAux{
    padding: 0 10vw;
    font-size: 0.9rem;
}